<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DepartureCity" value="Москва"/>
    <add key="ArrivalCity" value="Казань"/>
    <add key="LastName" value="Дубов"/>
    <add key="Name" value="Олег"/>
    <add key="MiddleName" value="Николаевич"/>
    <add key="BirthDay" value="12101980"/>
    <add key="Document" value="1345613459"/>
    <add key="Mail" value="dmir.dmir@mail.ru"/>
    <add key="Phone" value="9873786529"/>
  </appSettings>
</configuration>